<div class="h-100 w-100 adjust"
    style="background-image: url(/assets/ecommerce.jpg);background-repeat: no-repeat;background-size: cover;">
    <div class="center text-light bg-dark p-4">
        <h2 class="h2 my-4">Contact Us!</h2>
        <div class="container py-4">
            <div class="row">
                <div class="col-sm-6 my-2">
                    <h4 class="h4"><strong>Contact: </strong><br/>99xxxxxxxx</h4>
                    <h4 class="h4"><strong>Email: </strong><br/>galaxystore@gmail.com</h4>
                </div>
                <div class="col-sm-6 my-2">
                    <h4 class="h4"><strong>Address: </strong><br/></h4>
                    <h5 class="h5">Lorem ipsum, dolor sit amet consectetur adip <br/>Lorem ipsum, dolor sit amet consectetur adip</h5>
                </div>
            </div>
        </div>
        <p class="text-justify">
            Please use above given details to get in touch with the Galaxy Store team with regard to the content
            published on Galaxystore.stories.com only. Please note that complaints about products sold on Galaxy Store or
            customer support emails will not receive a response. For such issues, please tweet to @GalaxyStore
        </p>
    </div>
</div>