<div class="container bg-light my-2 py-4">
    <div *ngIf="user; else noUser">
        <!-- preview order -->
        <h2 class="h2">
            Preview Item.
        </h2>
        <table class="table" *ngIf="order.items.length != 0;else noItem">
            <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Add</th>
                    <th scope="col">Remove</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of order.items;let i = index" class="text-center">
                    <th scope="row">{{i+1}}</th>
                    <td><span [routerLink]="['/phone','detail',item._id]"
                            style="cursor: pointer;text-decoration: underline;">{{item.name}}</span></td>
                    <td>{{item.quantity}}</td>
                    <td><span class="btn btn-danger" (click)="addMore(item)">Add more</span></td>
                    <td><span class="btn btn-danger" (click)="remove(item)">Remove</span></td>
                    <td>{{item.cost * item.quantity}} &euro;</td>
                </tr>
                <tr class="text-center">
                    <td colspan="4"></td>
                    <td>Total Payable:</td>
                    <td>{{getTotal()}} &euro;</td>
                </tr>
            </tbody>
        </table>
        <ng-template #noItem>
            <div class="my-2 py2">
                <h3 class="h3 text-center">No Item In Cart!</h3>
            </div>
        </ng-template>
        <!-- checkout form -->
        <form [formGroup]="userForm" *ngIf="order.items.length != 0" (ngSubmit)="userForm.valid && checkOut()">
            <div class="row">
                <div class="col-12">
                    <h2 class="h2">
                        Checkout.
                    </h2>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input class="form-control" type="text" formControlName="name" placeholder="Enter Name">
                        <small class="text-muted"
                            *ngIf="userFormControl.name.invalid && (userFormControl.name.touched && userFormControl.name.dirty)">Please
                            Enter Name!</small>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input class="form-control" type="text" formControlName="email" placeholder="Enter Email">
                        <small class="text-muted"
                            *ngIf="userFormControl.email.invalid && (userFormControl.email.touched && userFormControl.email.dirty)">Please
                            Enter Email!</small>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="">Shipping address</label>
                        <textarea class="form-control" rows="3" formControlName="address"
                            placeholder="Enter Shipping address"></textarea>
                        <small class="text-muted"
                            *ngIf="userFormControl.address.invalid && (userFormControl.address.touched && userFormControl.address.dirty)">Enter
                            valid shipping address!</small>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-center" *ngIf="!submitted">
                        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Place Order</button>
                    </div>
                    <p class="text-center" *ngIf="submitted">Placing order.. please wait.</p>
                </div>
            </div>
        </form>
    </div>
    <ng-template #noUser>
        <div class="w-100 text-center">
            <div class="h2">Please Signin to place order !</div>
            <span class="btn btn-danger" [routerLink]="['/signin']">Go to Signin!</span>
        </div>
    </ng-template>
</div>