<div class="h-100 w-100 adjust"
    style="background-image: url(/assets/ecommerce.jpg);background-repeat: no-repeat;background-size: cover;">
    <div class="center text-light bg-dark p-4">
        <h2 class="h2 my-4">About Us!</h2>
        <div class="container py-4">
            <div class="row">
                <div class="col-sm-6 my-2">
                    <h4 class="h4"><strong>Location: </strong>Europe</h4>
                    <h4 class="h4"><strong>Founder: </strong>Admin</h4>
                </div>
            </div>
        </div>
        <p class="text-justify">The Samsung Store Group is one of India’s leading digital commerce entities and includes
            group companies
            Samsung Store, XYZ, and ABC. Launched in 2020, Samsung Store has enabled millions of consumers,
            sellers, merchants and small businesses to be a part of Europe’s e-commerce revolution. With a registered
            customer base of over 100 million, offering over 80 million products across 80+ categories, Samsung
            Store is known for pioneering services such as Cash on Delivery, No Cost EMI and easy returns –
            customer-centric innovations that have made online shopping more accessible and affordable for millions
            of users. Together with XYZ and ABC, which hold prominent positions in the online mobile
            market, the Samsung Store Group has steered the transformation of commerce in Europe through technology.
        </p>
    </div>
</div>