<div class="container">
    <div class="row">
        <div class="col-12 mb-2">
            <div class="chip m-1" [ngClass]="{'active':key===''}" (click)="filter('')">
                #All
            </div>
            <div class="chip m-1" [ngClass]="{'active':key==='visitor'}" (click)="filter('visitor')">
                #Visitor
            </div>
            <div class="chip m-1" [ngClass]="{'active':key==='admin'}" (click)="filter('admin')">
                #Admin
            </div>
        </div>
        <div class="col-12">
            <table class="table w-100">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Switch Role</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList | filterUser:key ;let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                        <td><span class="btn btn-sm btn-danger" (click)="switchRole(user)">{{user.role === 'admin' ? 'make visitor': 'make admin'}}</span></td>
                        <td><span class="btn btn-sm btn-danger" (click)="delete(user)">Delete</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>